@import url(common.css);

/* _________________GLOBAL_________________ */

body {
  color: var(--font_color);
  background: var(--background_color);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
h1 {
  font-family: "Architects Daughter";
  font-size: 62px;
  font-weight: 400;
}

h2 {
  font-family: "Architects Daughter";
  font-size: 32px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--font_color);
}

/* _________________HEADER_________________ */
.header_box {
  background: var(--main_color);
  padding: 20px 0;
}

.flex_contaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  display: flex;
  gap: 30px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.header_menu > li > a:hover {
  color: var(--active_color);
  transform: scale(1.1);
  cursor: pointer;
  border-bottom: 1px solid var(--active_color);
}

/* _________________HOME_________________ */
.home_box {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 120px;
}

.home_content {
  flex: 1 1 540px;
}

h1 {
  margin-bottom: 40px;
}

.home_content > p {
  margin-bottom: 20px;
}

.buttons {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}
.btn {
  padding: 19px 34px 19px 34px;
  border-radius: 6px;
  cursor: pointer;
}
.btn:first-child {
  margin-right: 23px;
}

.order_button {
  background: var(--main_color);
}

.help_button {
  text-decoration: none;
  color: var(--font_color);
  border: 1px solid var(--main_color);
  display: inline-block;
}

.order_button:hover {
  box-shadow: 0px 0px 0px 2px var(--box_shadow);
}

.order_button:active {
  background-color: var(--background_color_active);
  box-shadow: 0px 0px 2px var(--box_shadow);
}

.help_button:hover {
  box-shadow: 0px 0px 0px 2px var(--box_shadow);
  /* outline: 2px solid var(--main_color); */
}
.help_button:active {
  box-shadow: 0px 0px 2px var(--box_shadow_second);
  outline: 1px solid var(--main_color);
}
.home_img {
  height: 670px;
  flex: 1 1 540px;
}

.home_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

/* _________________ABOUT US_________________ */
.about_us_box {
  padding-bottom: 120px;
}

.about_us_content {
  width: 570px;
  text-align: center;
  padding-bottom: 120px;
}

h2 {
  margin-bottom: 50px;
}

.advantages {
  background: var(--main_color);
}

.advantages > ul {
  display: flex;
  justify-content: space-between;
  padding: 78px 15px;
}

.advantages ul > li > p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
}

.list {
  text-align: center;
  white-space: nowrap;
}

.list img {
  margin-bottom: 25px;
}
.list img:hover {
  transform: scale(1.1);
}

/* _________________HOW WE WORK_________________ */
.how_we_work_box {
  display: flex;
  gap: 30px;
  padding-bottom: 120px;
  align-items: center;
}
.how_we_work_img {
  height: 560px;
  flex: 1 1 540px;
}
.how_we_work_img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.how_we_work_content {
  flex: 1 1 540px;
  text-align: justify;
}
.how_we_work_content h2 {
  text-align: center;
}

/* _________________OUR WORKS_________________ */

.our_wors_box {
  padding-bottom: 120px;
}

.our_wors_box > h2 {
  text-align: center;
}

.cards {
  display: flex;
  gap: 30px;
}

.card {
  flex: 1 1 350px;
  border-radius: 6px;
  background: var(--main_color);
  padding: 15px 15px 40px 15px;
}

.card_img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 400px;
  margin-bottom: 23px;
}

.card > p {
  text-align: center;
}

/* _________________FOOTER_________________ */
.footer {
  background: var(--main_color);
  padding: 50px 0px;
}

.footer_menu {
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.footer_logo {
  margin-bottom: 30px;
}
.footer_menu > a {
  display: inline-block;
  height: 26px;
}

.footer_menu a + p {
  font-size: 24px;
  margin-bottom: 20px;
}
.footer_menu > ul {
  margin-bottom: 15px;
}
.social > a {
  display: inline-block;
  line-height: 10px;
  padding-left: 10px;
}
.social a:first-child {
  padding-left: 0;
}

.© {
  font-size: 16px;
  font-weight: 500;
}
